.search-wrapper {
  display: flex;
  gap: 24px;
  margin: 12px 0 24px 0;
  /* add */
  /* width: 100%; */
  /* add */
}

/* special color background */
#ingredients button {
  background-color: #3282F7;
}

#ingredients div {
  background-color: #3282F7;
}

#appliances button {
  background-color: #68D9A4;
}

#appliances div {
  background-color: #68D9A4;
}

#ustensils button {
  background-color: #ED6454;
}

#ustensils div {
  background-color: #ED6454;
}

/* .filters {
  width: 50%;
} */

/* .dropdown-group {
  width: 100%;
} */

/* .dropdown-group button[aria-expanded='true'] {
  background-color: red !important;
}

.dropdown-group button[aria-expanded="false"] {
  flex: 1 !important;
  background-color: blue;
} */

.dropdown-btn {
  color: white;
  padding: 10px 20px;
  border-radius: 0.25rem;
  border: none;
}

.dropdown-btn:hover {
  color: white;
}

.dropdown-btn:focus {
  outline: none;
  border-radius: 0.25rem 0.25rem 0 0;
}

/* dropdown */
.dropdown-div {
  margin: 0;
  border: none;
  border-radius: 0 0 0.25rem 0.25rem;
  width: 50%;
  position: absolute;
  z-index: 10;
}

.dropdown-elements {
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
}

.dropdown-item {
  padding-left: 0;
  flex-wrap: wrap;
  width: 50%;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}

/* input */
.filters-input {
  background-color: transparent;
  border: none;
  color: white;
  padding: 18px;
  width: 100%;
}

.filters-input:focus {
  outline: none;
}

.filters-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.two-sides-radius {
  border-radius: 5px 5px 0 0;
}
